.container {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.myphoto {
    width: 120px;
    border-radius: 9999px;
}

.photo {
    text-align: center;
}

.name {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    color: #006fb5;
    font-size: 28px;
}

.info {
    color: #3d3d3d;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.button {
    position: relative;
    display: block;
    border: 1px solid #3d3d3d;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 50px;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
}

.icon {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 45px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellowgreen;
}

.top div {
    width: 16px;
    height: 16px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(45deg);
}

.word {
    font-family: sans-serif;
    color: #3d3d3d;
    font-size: 14px;
    text-align: center;
}

.works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: 0 auto;
}

.work-item {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.work-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    transition: all 1s cubic-bezier(.12, .77, .26, 1.44);
}

.work-item:hover img {
    transform: scale(1.2);
    filter: blur(5px)brightness(70%);
}

@media(min-width:700px) {
    .container {
        width: 600px;
    }

    .works {
        grid-template-columns: repeat(3, 1fr);
    }
}

.heading {
    margin: 42px 0;
}